.App {
  margin-top:2px
}

body {
   padding:20px;
}

.input {
  float: right; 
  display: inline-block;
  flex-basis: 60%;
  max-width: 200px;
}

.ts_emph {
  background: #0f313b1f;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.table {
  max-height: calc(95vh - 70px);
}

.app-bar {
  max-height: 200px;
  display: flex;
}

.header-center {
  flex-basis: 60%;
  padding-left: 20px;
  text-align: left;
  border-color: #191a1c;
}

.App-header {
  display: inline-block;
  background-color: #282c34;
  font-size: 20px ;
  color: white;
}

.App-link {
  color: #61dafb;
}